$root: '.ImageContainer';

#{$root}{
  min-height: 100px;
  border:1px solid #ccc;
  border-radius: 15px;
  display: inline-block;
  position: relative;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: background-size 1s;
  background-origin: content-box;
  padding: 5px 0 5px 0;

  .imageContainerTitle{
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 15px;
    width: 100%;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: left;
  }
}

.img-primary{
  width:92%;
  height: 260px;
}

.img-secondary{
  width:44%;
  height: 550px;
}

.img-tertiary{
  width:100%;
}

@media only screen and (max-width:750px) {
  .img-secondary{
    width: 85%;
    height: 250px;
  }
}