$root: '.Address';

#{$root}{
  width: 40%;
  display: flex;
  min-height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background: #F4F4F4;

  .custom-radio{
    appearance: none;
    background-color: black;
    border:10px solid white;
    border-radius: 50%;
    transition: 0.2s all linear;
    box-shadow: 0 0 0 1px black;

    &:checked{
      border: 6px solid white;
      outline: unset !important
    }
  }
}